# Scrapy
__pycache__/

# Ignore Python bytecode files for spiders
bookscraper/bookscraper/spiders/__pycache__


.scrapy/

# Logs
*.log

# Virtual Environment
venv/
env/
*.pyc

# Scraped data
*.csv
*.json
*.jl

# Egg-info
*.egg-info/

# Ignore scrapy stats
scrapy.stats
.gitignore

